<?xml version="1.0"?>
<launch>

	<!-- Load collision identification node -->
  	<node name="close_and_record" pkg="imu_glove_finger_touch_utils" type="close_and_record" output="screen"/>

  	<!-- Record the necessary topics -->
  	<node name="record_bags" pkg="rosbag" type="record" args="/norm_publishing_topic /qb_class_imu/acc"/>

</launch>